

.about-image-container {
  display: flex;
  justify-content: center;
  max-height: 300px;
  padding: 50px 0;
  padding-bottom: 0;
}

.about-image {
  width: 50%;
  height: 300px;
  object-fit: cover;
}

.about-text {
  max-width: 600px;
  padding: 20px;
  padding-bottom: 50px;
  margin: 0 auto;
}

.about-text h2 {
  text-align: center;
  color: #5F6227;
  text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.22);
}